body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    color: #bb86fc;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff79c6;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
}

h1 {
    font-size: 2.5em;
    color: #bb86fc;
    margin-top: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    color: #03dac6;
    margin-bottom: 20px;
}

p {
    margin: 20px;
    padding: 0 20px;
    color: #b0b0b0;
    font-size: 1.1em;
}

p, a, h1, h2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.network{
    display:flex;
    margin: 10px auto;
}

.heatmaps{
    width:30%;
    height:30%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    overflow-x: auto;
}

#singers-similarity-chart{
    width: 100%;
    height: 100%;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
    color: #e0e0e0;
    font-size: 0.9em;
}

th {
    background-color: #333;
    color: #03dac6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    background-color: #1e1e1e;
}

table thead th {
    background-color: #444;
}

table tbody tr:nth-child(even) td {
    background-color: #2a2a2a;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        margin: 10px;
        font-size: 1em;
    }

    th, td {
        padding: 8px;
        font-size: 0.8em;
    }

    .container {
        padding: 10px;
    }

    table {
        width: 100%;
        margin: 10px 0;
    }
}
